.venv/
__pycache__/
*.pyc
.git/
.gitignore
.DS_Store
.idea/
ami_annotations/
ami_train.json
ami_val.json
ami_test.json
aug_train.json
aug_val.json
aug_test.json
meetings.db
test_db.py
my_meeting_model/
FLAN-T5-BASE.ipynb
meeting-notes-cleanup.ipynb
main.py
